<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="Your api key" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Array"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".LocationSugge.addkotline"
            android:exported="true" >

        </activity>
        <activity
            android:name=".LocationSugge.addressActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".imagepick.ImagepickerActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".get_country_Activity"
            android:exported="true" />
        <activity
            android:name=".Firebase_checkinng"
            android:exported="true">

            <!-- https://yucall.page.link/ids -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="yucall.page.link"
                    android:pathPrefix="/applinks"
                    android:scheme="https" />
                <data
                    android:host="yucall.page.link"
                    android:pathPrefix="/applinks"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- https://array.page.link/ids -->
                <!-- https://yucall.page.link/ids -->
                <data
                    android:host="yucall.page.link"
                    android:pathPrefix="/ids"
                    android:scheme="http" />
                <data
                    android:host="yucall.page.link"
                    android:pathPrefix="/ids"
                    android:scheme="https" />
            </intent-filter>
        </activity>
<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="AIzaSyANcWUc1yNO_vSHUeV4Est-xky-ldLwUd8"/>-->
<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="AIzaSyDUCMJaiX1dvLNq2aHSfe858eUQlNjfqgE" />-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDQbVKC5Oex6M01CaJIHz2jxULzqp9R774" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Maps_diurection"
            android:exported="true" />
        <activity
            android:name=".Google_loginActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".TreeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TwoActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>